<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>219</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>218</string>
					<key>Timestamp</key>
					<string>730888609.977746</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Archivador/Model/CoreData/CRUDModel.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        if image != nil {print("Yorjandis hacer la función para almacenar una imagen en formato cadena")}
</string>
				<key>leading</key>
				<string>        if entradaText != nil { entrada.entrada = AESModel().aesGCMEnc(str: entradaText ?? "")}
        if categoria != nil { entrada.categ = categoria}
</string>
				<key>trailing</key>
				<string>        if isfav != nil {entrada.isfav = isfav ?? false}
        if icono != nil {entrada.icono = icono ?? "documents"}
        do{
</string>
			</dict>
			<key>title</key>
			<string>Falta por implementar yorj</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
